@model WebClient.Models.CreateEmpl;

@{
    ViewData["Title"] = "Create";
}

@if (TempData["Message"] != null)
{
    <h3 style="color:red">@TempData["Message"]</h3>
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div>
                <label asp-for="@Model.EmailAddress" class="form-label"></label>
                <input asp-for="@Model.EmailAddress" class="form-control" />
                <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="@Model.Password" class="form-label"></label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="@Model.FullName" class="form-label"></label>
                <input asp-for="@Model.FullName" class="form-control" />
                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="@Model.DepartmentID" class="form-label"></label>
                <select asp-for="@Model.DepartmentID" class="form-control" asp-items="ViewBag.Departments"></select>
            </div>

            <div>
                <label asp-for="@Model.Skills" class="form-label"></label>
                <input asp-for="@Model.Skills" class="form-control" />
                <span asp-validation-for="@Model.Skills" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="@Model.Telephone" class="form-label"></label>
                <input asp-for="@Model.Telephone" class="form-control" />
                <span asp-validation-for="@Model.Telephone" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="@Model.Address" class="form-label"></label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="@Model.Status" class="form-label"></label>
                <select asp-for="@Model.Status" class="form-control" asp-items="ViewBag.Status"></select>
            </div>

            <div class="mt-1">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back To List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }